
header {
    background-color: rgb(97, 97, 97) ;
    display: grid ;
    grid-template-columns : auto auto;
    gap : 10px ;
    align-items: center ;
    align-content: center ;
    text-align : center ;
    height : 100px ;
    width : 100% ;
  }
  footer{
    width : 100% ;
    height : 150px ;
    background-color:rgb(79, 79, 79) ;
  }
  
  body {
    width : 960px ;
    margin : auto ;
  }
  a {
    text-decoration: none ;
    color : white ;
    font-size : 30px ;
    padding : 40px ;
  }
  header nav a:hover {
    color :rgb(208, 228, 31) ;
  }
  p{
    font-size : 20px ;
    width : 450px ;
    float : right ;
    font-weight: bold ;
    overflow: scroll ;
    height : 400px ;
  }
  
  .logoPic{
    padding : 25% ;
    width : 200px ;
    height : 70px ;
  }
  .firstPic{
    width : 100% ;
   /* padding-left: 10% ;*/
    padding-bottom: 30px ; 
    padding-top: 30px ; 
  
    
  }
  
  .lastsec{
    display : grid ;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto;
    gap : 30px ;
  }
  .secone{
    display : grid ;
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto auto ;
    gap : 30px ;
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*.logo{
    width : 65% ;
    height : 150px ;
    margin : 10px ;
    padding : 10px ;
  }
  
  h2 {
    margin : 10px ;
    padding : 10px ;
    color : rgb(233, 106, 106) ;
    font-size: 35px ;
  }
  .p1{
    padding : 10px ;
    margin : 10px ;
    font-weight : bolder ;
    font-size: 25px ;
    float : right ;
    text-align : center ;
  }
  .p2{
    padding : 10px ;
    margin : 10px ;
    font-weight : bolder ;
    font-size: 25px ;
    float : right ;
    clear : right ;
    text-align : center ;
  }
  .pic1{
    padding : 10px ;
    margin : 10px ;
    float : right ;
    width : 30% ;
  
    clear : right ;
    height : 35% ;
  }
  .pic2{
    padding : 10px ;
    margin : 10px ;
    float : right ;
    width : 30% ;
    clear : right ;
    height : 5% ;
  }
  
  .p3{
    padding : 10px ;
    margin : 10px ;
    font-weight : bolder ;
    font-size: 25px ;
    float : right ;
    clear : right ;
    text-align : center ;
  }
  .alone{
      font-weight : bolder ;
    font-size: 25px ;
    width : 30% ;
    height : 10% ;  
    padding : 10px ;
    margin : 10px ;
  }
  
  .pic3{
    padding : 10px ;
    margin : 10px ;
    float : right ;
    clear : right ;
    width : 30% ;
    height : 10% ;
  }
  footer {
    text-align: center ;
    font-size : 22px ;
    font-style : italic ;
  }
  
  .html {
    background-color: rgb(18, 122, 122);
  
  }
  html {
    background-color: teal ;
    width : 100% ;
  }
  ul , li {
    padding : 2px ;
    font-weight : bold ;
    
    }
    body {
  width : 960px ;
    }
    th{
      color :black ;
      font-weight: bolder;
      position :relative ;
      top : 1.5% ;
      left : 0.5% ;
      font-family :sans-serif ;
      margin : 10px ;
      padding : 10px ;
      width : 20px ;
      border: outset ;
      border : 4px solid black ;
      background-color:rgb(204, 204, 41) ;
    width :100px ;
    height : 40% ;
    }
  table , tr , td {
  
      position :relative ;
      top : 1.5% ;
      left : 0.5% ;
      font-family :sans-serif ;
      margin : 10px ;
      padding : 10px ;
      font-weight: bold ;
      width : 20px ;
      border: outset ;
      border : 2px solid black ;
      color : rgb(114, 26, 26) ;
      background-color:rgb(204, 204, 41) ;
    width :50% ;
  
    }
    h1 {
      margin : 10px ;
      padding : 10px ;
        color :lightcoral ;
        font-size : 40px ;
  
      }
    a {
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      width : 100px ;
      height : 25px ;
      float :right ;
        font-size: 16px ;
        text-decoration: none ;
        margin : 10px ;
        padding : 10px ;
      background-color: rgb(2, 112, 112);
      font-weight : bolder ;
      color : black ;
      display :block ;    
    }
    img {
    
        width : 800px ;
        height : 300px ;
    }
    */
  